.login-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    padding: auto 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container section.form {
    width: 100%;
    max-width: 275px;
    margin-right: center;
}

.login-container section.form img {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-container section.form form {
    margin-top: 50px;
}

.login-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}
