
.home_container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.home_container img {
    display: flex;
    max-width: 1120em;
    width: 100%;
    height: 90vh;
}