.Container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

.form h1 {
    margin-bottom: 15px;
}

.form button {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.form button:hover {
    color: #FFBB33;
}

.form {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    word-break: break-all;
}

.table thead th th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
}

.table tbody tr td {
    text-align: center;
    padding-top: 15px;
}

.table tbody tr td button {
    margin: 0.2em;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.table tbody tr td button:hover {
    border: 1;
    color: #251FC5;
}